.table {
  border: 1px solid black;
  border-collapse: collapse;
}

.line {
  border: 1px solid black;
}

.id {
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 0 5px;
}

.description {
  padding: 3px 10px 3px 3px;
}

.value {
  font-family: monospace;
  text-align: right;
  padding: 0 5px;
}
