.form-name {
  margin: 0;
  border: 3px solid black;
  border-bottom-width: 2px;
  padding: 5px;
}

.table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
}

.line {
  border: 1px solid black;
}

.line:hover {
  background-color: #dfdfdf;
}

.id {
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 0 5px;
  text-align: center;
}

.description {
  padding: 3px 10px 3px 3px;
}

.value {
  font-family: monospace;
  text-align: right;
  padding: 0 5px;
}
